.adminnavbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    
    align-items: center;
    
}
.list ul{
    display: flex;
   margin-left: 20px;
    margin: 0px;
   

}
.list a{
    margin-left: 40px;
    text-decoration: none;
    color: white;
}
.portal a{
    text-decoration: none;
    
    color: white;
}
.portal{
    display: flex;
    align-items: center;
}
.portal img{
border-radius: 40px;
margin-left: 5px;
}
